.rs-base {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
}
.rs-counter-base {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.rs-counter-value {
  width: 3em;
}
.rs-counter-id, .rs-counter-value {
  margin-right: 0.5em;
  font-size: 8pt;
}
